# Group Project gang

We are uploading all csv files of the Scarlet & Violet main and special sets.

Sets: SV01, SV02, SV03, SV: Scarlet & Violet 151, SV04, SV: Paldean Fates, SV05, SV06, SV: Shrouded Fable, SV07, SV08, SV: Prismatic Evolutions, SV09

In [18]:
import pandas as pd
import scipy as sp

sv01_df = pd.read_csv('SV01ScarletAndVioletBaseSetProductsAndPrices.csv')
sv02_df = pd.read_csv('SV02PaldeaEvolvedProductsAndPrices.csv')
sv03_df = pd.read_csv('SV03ObsidianFlamesProductsAndPrices.csv')
sv04_df = pd.read_csv('SV04ParadoxRiftProductsAndPrices.csv')
sv05_df = pd.read_csv('SV05TemporalForcesProductsAndPrices.csv')
sv06_df = pd.read_csv('SV06TwilightMasqueradeProductsAndPrices.csv')
sv07_df = pd.read_csv('SV07StellarCrownProductsAndPrices.csv')
sv08_df = pd.read_csv('SV08SurgingSparksProductsAndPrices.csv')
sv09_df = pd.read_csv('SV09JourneyTogetherProductsAndPrices.csv')
sv_151_df = pd.read_csv('SVScarletAndViolet151ProductsAndPrices.csv')
sv_pf_df = pd.read_csv('SVPaldeanFatesProductsAndPrices.csv')
sv_sf_df = pd.read_csv('SVShroudedFableProductsAndPrices.csv')
sv_pe_df = pd.read_csv('SVPrismaticEvolutionsProductsAndPrices.csv')

We then merge all of these sets into a master set, filter out unnecessary columns, and add a column for the textual set name based on groupId variable.

In [19]:
master_df = pd.concat([sv01_df, sv02_df, sv03_df, sv04_df, sv05_df, sv06_df, sv07_df, sv08_df, sv09_df, sv_151_df, sv_pf_df, sv_sf_df, sv_pe_df])
master_df = master_df[['productId', 'name', 'groupId', 'lowPrice', 'highPrice', 'marketPrice', 'extRarity']]

# filter for cards of specific rarity
master_df = master_df[(master_df['extRarity'] == 'Special Illustration Rare') | (master_df['extRarity'] == 'Illustration Rare') | (master_df['extRarity'] == 'Hyper Rare')]

# add textual set name column
def get_textset(setId):
    setId_list = [22873, 23120, 23228, 23286, 23381, 23473, 23537, 23651, 24073, 23237, 23353, 23529, 23821]
    textId_list = [
        'Scarlet And Violet Base',
        'Paldea Evolved',
        'Obsidian Flames',
        'Paradox Rift',
        'Temporal Forces',
        'Twilight Masquerade',
        'Stellar Crown',
        'Surging Sparks',
        'Journey Together',
        'Scarlet And Violet 151',
        'Paldean Fates',
        'Shrouded Fable',
        'Prismatic Evolutions'
    ]
    index = setId_list.index(setId)
    return textId_list[index]

master_df['set'] = master_df['groupId'].apply(get_textset)

# add release date
def get_dateset(setId):
    name_list = ['Scarlet And Violet Base',
        'Paldea Evolved',
        'Obsidian Flames',
        'Paradox Rift',
        'Temporal Forces',
        'Twilight Masquerade',
        'Stellar Crown',
        'Surging Sparks',
        'Journey Together',
        'Scarlet And Violet 151',
        'Paldean Fates',
        'Shrouded Fable',
        'Prismatic Evolutions']
    date_list = [
        '05-31-2023',
        '06-09-2023',
        '08-11-2023',
        '10-03-2023',
        '03-22-2024',
        '05-24-2024',
        '09-13-2024',
        '11-08-2024',
        '03-28-2025',
        '09-22-2023',
        '01-26-2024',
        '09-02-2024',
        '01-17-2025'
    ]
    index = name_list.index(setId)
    return date_list[index]

master_df['set'] = master_df['groupId'].apply(get_textset)
master_df['release date'] = master_df['set'].apply(get_dateset)

# sort dataframe by card rarity
master_df = master_df.sort_values(by=['groupId', 'extRarity'])

# reset index
master_df = master_df.reset_index()
master_df.index +=1

master_df['release date'] = pd.to_datetime(master_df['release date'], format='%m-%d-%Y')

display(master_df)

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
1,437,490043,Miraidon ex - 253/198,22873,4.99,60.00,5.76,Hyper Rare,Scarlet And Violet Base,2023-05-31
2,439,490045,Koraidon ex - 254/198,22873,3.00,28.20,5.50,Hyper Rare,Scarlet And Violet Base,2023-05-31
3,483,490294,Basic Fighting Energy - 258/198,22873,2.39,25.00,3.14,Hyper Rare,Scarlet And Violet Base,2023-05-31
4,484,490295,Basic Lightning Energy - 257/198,22873,3.00,50.00,5.01,Hyper Rare,Scarlet And Violet Base,2023-05-31
5,485,490296,Rare Candy - 256/198,22873,5.80,30.02,7.83,Hyper Rare,Scarlet And Violet Base,2023-05-31
...,...,...,...,...,...,...,...,...,...,...
437,338,623610,Iono's Bellibolt ex - 183/159,24073,135.00,180.00,136.62,Special Illustration Rare,Journey Together,2025-03-28
438,339,623611,Lillie's Clefairy ex - 184/159,24073,300.00,329.36,328.63,Special Illustration Rare,Journey Together,2025-03-28
439,340,623612,N's Zoroark ex - 185/159,24073,214.10,219.99,219.62,Special Illustration Rare,Journey Together,2025-03-28
440,341,623613,Hop's Zacian ex - 186/159,24073,175.00,179.99,178.79,Special Illustration Rare,Journey Together,2025-03-28
441,342,623614,Salamence ex - 187/159,24073,200.00,240.00,238.03,Special Illustration Rare,Journey Together,2025-03-28

We will also have to fill in all NaN values, especially for the market prices of recent sets (ie. SV09 Journey Together).

In order to fill in the NaN values, we will take the average of the lowPrice and highPrice values and input the average into marketPrice.

In [20]:
def fill_market_price(row):
    if pd.isna(row['marketPrice']):
        low_high_average = (row['lowPrice'] + row['highPrice'])/2
        row['marketPrice'] = round(low_high_average, 2)
    return row['marketPrice']

master_df['marketPrice'] = master_df.apply(fill_market_price, axis=1)

## Hypothesis Tests

We will now conduct three hypothesis tests to observe trends and patterns in data.

### TEST I:
Using an ANOVA test, we plan on determining if the average price of cards of the same rarity vary significantly across all relevant sets
(relevant sets - scarlet and violet main and special sets)

Because we are testing multiple categories and observing if they exist within the same distribution, an ANOVA test would be appropriate.
Significance level = 0.05 (Level of confidence = 95%)

H0: There is no significant difference in the prices of the same card rarity across the relevant sets.
HA: There exists significant differences in the prices of the same card rarity across the relevant sets.

In [21]:
hr_df = master_df[master_df['extRarity'] == 'Hyper Rare']
ir_df = master_df[master_df['extRarity'] == 'Illustration Rare']
sir_df = master_df[master_df['extRarity'] == 'Special Illustration Rare']

#### Hyper Rare Cards:

In [22]:
# for Hyper Rare cards
hr_sets = hr_df.groupby('set', sort=False)
hr_average_prices = pd.DataFrame(columns=['set', 'averagePrice'])

for set,group in hr_sets:
    group = group.dropna(subset=['marketPrice']).sort_values(by='marketPrice')
    rarity_mean = group['marketPrice'].mean()
    row = {'set': set, 'averagePrice': round(rarity_mean, 2)}
    hr_average_prices = pd.concat([hr_average_prices, pd.DataFrame([row])], ignore_index=True)

hr_clean_avg = [group['marketPrice'].dropna().values for _, group in hr_df.groupby('set', sort=False)]

hr_res = sp.stats.f_oneway(*hr_clean_avg)
hr_tukey = sp.stats.tukey_hsd(*hr_clean_avg)

print(hr_res.pvalue)
print(hr_tukey)

C:\Users\leaks\AppData\Local\Temp\ipykernel_27904\553501463.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  hr_average_prices = pd.concat([hr_average_prices, pd.DataFrame([row])], ignore_index=True)

1.2307944715509453e-06
Tukey's HSD Pairwise Group Comparisons (95.0% Confidence Interval)
Comparison  Statistic  p-value  Lower CI  Upper CI
 (0 - 1)      0.690     1.000   -31.715    33.095
 (0 - 2)     -3.223     1.000   -46.699    40.252
 (0 - 3)     -0.230     1.000   -43.705    43.245
 (0 - 4)     -0.245     1.000   -34.451    33.962
 (0 - 5)     -2.320     1.000   -37.818    33.178
 (0 - 6)     -6.393     1.000   -41.891    29.104
 (0 - 7)     -5.483     1.000   -40.981    30.014
 (0 - 8)    -25.485     0.479   -62.715    11.745
 (0 - 9)     -7.690     1.000   -51.165    35.785
 (0 - 10)    -20.675     0.718   -56.173    14.823
 (0 - 11)    -21.691     0.717   -58.921    15.539
 (0 - 12)    -85.747     0.000  -129.222   -42.271
 (1 - 0)     -0.690     1.000   -33.095    31.715
 (1 - 2)     -3.913     1.000   -44.902    37.076
 (1 - 3)     -0.920     1.000   -41.909    40.069
 (1 - 4)     -0.935     1.000   -31.920    30.050
 (1 - 5)     -3.010     1.000   -35.415    29.395
 (1 - 6)     -7.083     1.000   -39.488    25.321
 (1 - 7)     -6.173     1.000   -38.578    26.231
 (1 - 8)    -26.175     0.311   -60.469     8.119
 (1 - 9)     -8.380     1.000   -49.369    32.609
 (1 - 10)    -21.365     0.539   -53.770    11.040
 (1 - 11)    -22.381     0.554   -56.675    11.913
 (1 - 12)    -86.437     0.000  -127.426   -45.448
 (2 - 0)      3.223     1.000   -40.252    46.699
 (2 - 1)      3.913     1.000   -37.076    44.902
 (2 - 3)      2.993     1.000   -47.208    53.194
 (2 - 4)      2.979     1.000   -39.449    45.406
 (2 - 5)      0.903     1.000   -42.572    44.379
 (2 - 6)     -3.170     1.000   -46.645    40.305
 (2 - 7)     -2.260     1.000   -45.735    41.215
 (2 - 8)    -22.262     0.879   -67.163    22.639
 (2 - 9)     -4.467     1.000   -54.668    45.734
 (2 - 10)    -17.452     0.971   -60.927    26.024
 (2 - 11)    -18.468     0.966   -63.369    26.433
 (2 - 12)    -82.523     0.000  -132.724   -32.322
 (3 - 0)      0.230     1.000   -43.245    43.705
 (3 - 1)      0.920     1.000   -40.069    41.909
 (3 - 2)     -2.993     1.000   -53.194    47.208
 (3 - 4)     -0.015     1.000   -42.442    42.413
 (3 - 5)     -2.090     1.000   -45.565    41.385
 (3 - 6)     -6.163     1.000   -49.639    37.312
 (3 - 7)     -5.253     1.000   -48.729    38.222
 (3 - 8)    -25.255     0.761   -70.157    19.646
 (3 - 9)     -7.460     1.000   -57.661    42.741
 (3 - 10)    -20.445     0.913   -63.920    23.030
 (3 - 11)    -21.461     0.904   -66.363    23.440
 (3 - 12)    -85.517     0.000  -135.718   -35.316
 (4 - 0)      0.245     1.000   -33.962    34.451
 (4 - 1)      0.935     1.000   -30.050    31.920
 (4 - 2)     -2.979     1.000   -45.406    39.449
 (4 - 3)      0.015     1.000   -42.413    42.442
 (4 - 5)     -2.075     1.000   -36.282    32.131
 (4 - 6)     -6.149     1.000   -40.355    28.058
 (4 - 7)     -5.239     1.000   -39.445    28.968
 (4 - 8)    -25.241     0.441   -61.242    10.760
 (4 - 9)     -7.445     1.000   -49.873    34.982
 (4 - 10)    -20.430     0.685   -54.637    13.776
 (4 - 11)    -21.447     0.688   -57.448    14.554
 (4 - 12)    -85.502     0.000  -127.930   -43.074
 (5 - 0)      2.320     1.000   -33.178    37.818
 (5 - 1)      3.010     1.000   -29.395    35.415
 (5 - 2)     -0.903     1.000   -44.379    42.572
 (5 - 3)      2.090     1.000   -41.385    45.565
 (5 - 4)      2.075     1.000   -32.131    36.282
 (5 - 6)     -4.073     1.000   -39.571    31.424
 (5 - 7)     -3.163     1.000   -38.661    32.334
 (5 - 8)    -23.165     0.627   -60.395    14.065
 (5 - 9)     -5.370     1.000   -48.845    38.105
 (5 - 10)    -18.355     0.846   -53.853    17.143
 (5 - 11)    -19.371     0.841   -56.601    17.859
 (5 - 12)    -83.427     0.000  -126.902   -39.951
 (6 - 0)      6.393     1.000   -29.104    41.891
 (6 - 1)      7.083     1.000   -25.321    39.488
 (6 - 2)      3.170     1.000   -40.305    46.645
 (6 - 3)      6.163     1.000   -37.312    49.639
 (6 - 4)      6.149     1.000   -28.058    40.355
 (6 - 5)      4.073     1.000   -31.424    39.571
 (6 - 7)      0.910     1.000   -34.588    36.408
 (6 - 8)    -19.092     0.853   -56.322    18.138
 (6 - 9)     -1.297     1.000   -44.772    42.179
 (6 - 10)    -14.282     0.971   -49.779    21.216
 (6 - 11)    -15.298     0.966   -52.528    21.932
 (6 - 12)    -79.353     0.000  -122.829   -35.878
 (7 - 0)      5.483     1.000   -30.014    40.981
 (7 - 1)      6.173     1.000   -26.231    38.578
 (7 - 2)      2.260     1.000   -41.215    45.735
 (7 - 3)      5.253     1.000   -38.222    48.729
 (7 - 4)      5.239     1.000   -28.968    39.445
 (7 - 5)      3.163     1.000   -32.334    38.661
 (7 - 6)     -0.910     1.000   -36.408    34.588
 (7 - 8)    -20.002     0.810   -57.232    17.228
 (7 - 9)     -2.207     1.000   -45.682    41.269
 (7 - 10)    -15.192     0.954   -50.689    20.306
 (7 - 11)    -16.208     0.948   -53.438    21.022
 (7 - 12)    -80.263     0.000  -123.739   -36.788
 (8 - 0)     25.485     0.479   -11.745    62.715
 (8 - 1)     26.175     0.311    -8.119    60.469
 (8 - 2)     22.262     0.879   -22.639    67.163
 (8 - 3)     25.255     0.761   -19.646    70.157
 (8 - 4)     25.241     0.441   -10.760    61.242
 (8 - 5)     23.165     0.627   -14.065    60.395
 (8 - 6)     19.092     0.853   -18.138    56.322
 (8 - 7)     20.002     0.810   -17.228    57.232
 (8 - 9)     17.795     0.974   -27.106    62.697
 (8 - 10)      4.810     1.000   -32.420    42.040
 (8 - 11)      3.794     1.000   -35.092    42.680
 (8 - 12)    -60.261     0.001  -105.163   -15.360
 (9 - 0)      7.690     1.000   -35.785    51.165
 (9 - 1)      8.380     1.000   -32.609    49.369
 (9 - 2)      4.467     1.000   -45.734    54.668
 (9 - 3)      7.460     1.000   -42.741    57.661
 (9 - 4)      7.445     1.000   -34.982    49.873
 (9 - 5)      5.370     1.000   -38.105    48.845
 (9 - 6)      1.297     1.000   -42.179    44.772
 (9 - 7)      2.207     1.000   -41.269    45.682
 (9 - 8)    -17.795     0.974   -62.697    27.106
 (9 - 10)    -12.985     0.998   -56.460    30.490
 (9 - 11)    -14.001     0.997   -58.903    30.900
 (9 - 12)    -78.057     0.000  -128.258   -27.856
 (10 - 0)     20.675     0.718   -14.823    56.173
 (10 - 1)     21.365     0.539   -11.040    53.770
 (10 - 2)     17.452     0.971   -26.024    60.927
 (10 - 3)     20.445     0.913   -23.030    63.920
 (10 - 4)     20.430     0.685   -13.776    54.637
 (10 - 5)     18.355     0.846   -17.143    53.853
 (10 - 6)     14.282     0.971   -21.216    49.779
 (10 - 7)     15.192     0.954   -20.306    50.689
 (10 - 8)     -4.810     1.000   -42.040    32.420
 (10 - 9)     12.985     0.998   -30.490    56.460
 (10 - 11)     -1.016     1.000   -38.246    36.214
 (10 - 12)    -65.072     0.000  -108.547   -21.596
 (11 - 0)     21.691     0.717   -15.539    58.921
 (11 - 1)     22.381     0.554   -11.913    56.675
 (11 - 2)     18.468     0.966   -26.433    63.369
 (11 - 3)     21.461     0.904   -23.440    66.363
 (11 - 4)     21.447     0.688   -14.554    57.448
 (11 - 5)     19.371     0.841   -17.859    56.601
 (11 - 6)     15.298     0.966   -21.932    52.528
 (11 - 7)     16.208     0.948   -21.022    53.438
 (11 - 8)     -3.794     1.000   -42.680    35.092
 (11 - 9)     14.001     0.997   -30.900    58.903
 (11 - 10)      1.016     1.000   -36.214    38.246
 (11 - 12)    -64.055     0.001  -108.957   -19.154
 (12 - 0)     85.747     0.000    42.271   129.222
 (12 - 1)     86.437     0.000    45.448   127.426
 (12 - 2)     82.523     0.000    32.322   132.724
 (12 - 3)     85.517     0.000    35.316   135.718
 (12 - 4)     85.502     0.000    43.074   127.930
 (12 - 5)     83.427     0.000    39.951   126.902
 (12 - 6)     79.353     0.000    35.878   122.829
 (12 - 7)     80.263     0.000    36.788   123.739
 (12 - 8)     60.261     0.001    15.360   105.163
 (12 - 9)     78.057     0.000    27.856   128.258
 (12 - 10)     65.072     0.000    21.596   108.547
 (12 - 11)     64.055     0.001    19.154   108.957

#### Illustration Rare Cards

In [23]:
# for Illustration Rare cards
ir_sets = ir_df.groupby('set', sort=False)
ir_average_prices = pd.DataFrame(columns=['set', 'averagePrice'])

for set,group in ir_sets:
    group = group.dropna(subset=['marketPrice']).sort_values(by='marketPrice')
    rarity_mean = group['marketPrice'].mean()
    row = {'set': set, 'averagePrice': round(rarity_mean, 2)}
    ir_average_prices = pd.concat([ir_average_prices, pd.DataFrame([row])], ignore_index=True)

ir_avg_prices = [group['marketPrice'].dropna().values for _, group in ir_df.groupby('set', sort=False)]

ir_res = sp.stats.f_oneway(*ir_avg_prices)
ir_tukey = sp.stats.tukey_hsd(*ir_avg_prices)

print(ir_res.pvalue)
print(ir_tukey)

C:\Users\leaks\AppData\Local\Temp\ipykernel_27904\836959014.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ir_average_prices = pd.concat([ir_average_prices, pd.DataFrame([row])], ignore_index=True)

0.030095002095401828
Tukey's HSD Pairwise Group Comparisons (95.0% Confidence Interval)
Comparison  Statistic  p-value  Lower CI  Upper CI
 (0 - 1)     -9.414     0.829   -26.916     8.089
 (0 - 2)      3.523     1.000   -19.959    27.004
 (0 - 3)    -14.061     0.575   -35.497     7.375
 (0 - 4)     -3.565     1.000   -21.272    14.142
 (0 - 5)     10.884     0.999   -29.788    51.556
 (0 - 6)     -1.691     1.000   -21.295    17.913
 (0 - 7)      0.258     1.000   -19.587    20.104
 (0 - 8)     -9.504     0.955   -31.364    12.357
 (0 - 9)     -2.183     1.000   -25.055    20.689
 (0 - 10)      3.248     1.000   -16.132    22.628
 (0 - 11)    -17.713     0.351   -41.194     5.769
 (1 - 0)      9.414     0.829    -8.089    26.916
 (1 - 2)     12.936     0.739    -9.203    35.075
 (1 - 3)     -4.648     1.000   -24.603    15.308
 (1 - 4)      5.848     0.987   -10.035    21.731
 (1 - 5)     20.298     0.875   -19.614    60.209
 (1 - 6)      7.722     0.959   -10.251    25.696
 (1 - 7)      9.672     0.841    -8.565    27.909
 (1 - 8)     -0.090     1.000   -20.501    20.321
 (1 - 9)      7.230     0.994   -14.260    28.721
 (1 - 10)     12.662     0.438    -5.068    30.391
 (1 - 11)     -8.299     0.985   -30.438    13.840
 (2 - 0)     -3.523     1.000   -27.004    19.959
 (2 - 1)    -12.936     0.739   -35.075     9.203
 (2 - 3)    -17.584     0.487   -42.947     7.780
 (2 - 4)     -7.088     0.996   -29.389    15.213
 (2 - 5)      7.362     1.000   -35.510    50.233
 (2 - 6)     -5.214     1.000   -29.049    18.621
 (2 - 7)     -3.264     1.000   -27.298    20.770
 (2 - 8)    -13.026     0.878   -38.749    12.697
 (2 - 9)     -5.706     1.000   -32.294    20.882
 (2 - 10)     -0.275     1.000   -23.926    23.377
 (2 - 11)    -21.235     0.293   -48.349     5.879
 (3 - 0)     14.061     0.575    -7.375    35.497
 (3 - 1)      4.648     1.000   -15.308    24.603
 (3 - 2)     17.584     0.487    -7.780    42.947
 (3 - 4)     10.496     0.856    -9.640    30.631
 (3 - 5)     24.945     0.712   -16.841    66.732
 (3 - 6)     12.370     0.775    -9.452    34.192
 (3 - 7)     14.320     0.590    -7.720    36.360
 (3 - 8)      4.557     1.000   -19.313    28.427
 (3 - 9)     11.878     0.914   -12.922    36.678
 (3 - 10)     17.309     0.262    -4.312    38.931
 (3 - 11)     -3.651     1.000   -29.015    21.712
 (4 - 0)      3.565     1.000   -14.142    21.272
 (4 - 1)     -5.848     0.987   -21.731    10.035
 (4 - 2)      7.088     0.996   -15.213    29.389
 (4 - 3)    -10.496     0.856   -30.631     9.640
 (4 - 5)     14.450     0.989   -25.552    54.451
 (4 - 6)      1.874     1.000   -16.298    20.047
 (4 - 7)      3.824     1.000   -14.610    22.257
 (4 - 8)     -5.938     0.998   -26.525    14.648
 (4 - 9)      1.382     1.000   -20.276    23.040
 (4 - 10)      6.813     0.984   -11.118    24.745
 (4 - 11)    -14.147     0.626   -36.448     8.154
 (5 - 0)    -10.884     0.999   -51.556    29.788
 (5 - 1)    -20.298     0.875   -60.209    19.614
 (5 - 2)     -7.362     1.000   -50.233    35.510
 (5 - 3)    -24.945     0.712   -66.732    16.841
 (5 - 4)    -14.450     0.989   -54.451    25.552
 (5 - 6)    -12.575     0.997   -53.452    28.301
 (5 - 7)    -10.626     0.999   -51.619    30.368
 (5 - 8)    -20.388     0.906   -62.394    21.618
 (5 - 9)    -13.067     0.997   -55.608    29.473
 (5 - 10)     -7.636     1.000   -48.406    33.134
 (5 - 11)    -28.597     0.549   -71.468    14.275
 (6 - 0)      1.691     1.000   -17.913    21.295
 (6 - 1)     -7.722     0.959   -25.696    10.251
 (6 - 2)      5.214     1.000   -18.621    29.049
 (6 - 3)    -12.370     0.775   -34.192     9.452
 (6 - 4)     -1.874     1.000   -20.047    16.298
 (6 - 5)     12.575     0.997   -28.301    53.452
 (6 - 7)      1.950     1.000   -18.313    22.212
 (6 - 8)     -7.813     0.991   -30.052    14.427
 (6 - 9)     -0.492     1.000   -23.726    22.742
 (6 - 10)      4.939     1.000   -14.867    24.746
 (6 - 11)    -16.021     0.536   -39.856     7.814
 (7 - 0)     -0.258     1.000   -20.104    19.587
 (7 - 1)     -9.672     0.841   -27.909     8.565
 (7 - 2)      3.264     1.000   -20.770    27.298
 (7 - 3)    -14.320     0.590   -36.360     7.720
 (7 - 4)     -3.824     1.000   -22.257    14.610
 (7 - 5)     10.626     0.999   -30.368    51.619
 (7 - 6)     -1.950     1.000   -22.212    18.313
 (7 - 8)     -9.762     0.955   -32.215    12.691
 (7 - 9)     -2.442     1.000   -25.880    20.997
 (7 - 10)      2.989     1.000   -17.057    23.036
 (7 - 11)    -17.971     0.364   -42.005     6.063
 (8 - 0)      9.504     0.955   -12.357    31.364
 (8 - 1)      0.090     1.000   -20.321    20.501
 (8 - 2)     13.026     0.878   -12.697    38.749
 (8 - 3)     -4.557     1.000   -28.427    19.313
 (8 - 4)      5.938     0.998   -14.648    26.525
 (8 - 5)     20.388     0.906   -21.618    62.394
 (8 - 6)      7.813     0.991   -14.427    30.052
 (8 - 7)      9.762     0.955   -12.691    32.215
 (8 - 9)      7.321     0.998   -17.847    32.488
 (8 - 10)     12.752     0.751    -9.291    34.794
 (8 - 11)     -8.209     0.996   -33.932    17.514
 (9 - 0)      2.183     1.000   -20.689    25.055
 (9 - 1)     -7.230     0.994   -28.721    14.260
 (9 - 2)      5.706     1.000   -20.882    32.294
 (9 - 3)    -11.878     0.914   -36.678    12.922
 (9 - 4)     -1.382     1.000   -23.040    20.276
 (9 - 5)     13.067     0.997   -29.473    55.608
 (9 - 6)      0.492     1.000   -22.742    23.726
 (9 - 7)      2.442     1.000   -20.997    25.880
 (9 - 8)     -7.321     0.998   -32.488    17.847
 (9 - 10)      5.431     1.000   -17.615    28.477
 (9 - 11)    -15.529     0.739   -42.117    11.059
 (10 - 0)     -3.248     1.000   -22.628    16.132
 (10 - 1)    -12.662     0.438   -30.391     5.068
 (10 - 2)      0.275     1.000   -23.377    23.926
 (10 - 3)    -17.309     0.262   -38.931     4.312
 (10 - 4)     -6.813     0.984   -24.745    11.118
 (10 - 5)      7.636     1.000   -33.134    48.406
 (10 - 6)     -4.939     1.000   -24.746    14.867
 (10 - 7)     -2.989     1.000   -23.036    17.057
 (10 - 8)    -12.752     0.751   -34.794     9.291
 (10 - 9)     -5.431     1.000   -28.477    17.615
 (10 - 11)    -20.960     0.139   -44.612     2.691
 (11 - 0)     17.713     0.351    -5.769    41.194
 (11 - 1)      8.299     0.985   -13.840    30.438
 (11 - 2)     21.235     0.293    -5.879    48.349
 (11 - 3)      3.651     1.000   -21.712    29.015
 (11 - 4)     14.147     0.626    -8.154    36.448
 (11 - 5)     28.597     0.549   -14.275    71.468
 (11 - 6)     16.021     0.536    -7.814    39.856
 (11 - 7)     17.971     0.364    -6.063    42.005
 (11 - 8)      8.209     0.996   -17.514    33.932
 (11 - 9)     15.529     0.739   -11.059    42.117
 (11 - 10)     20.960     0.139    -2.691    44.612

#### Special Illustration Rare Cards

In [24]:
# for Special Illustration Rare cards
sir_sets = sir_df.groupby('set', sort=False)
sir_average_prices = pd.DataFrame(columns=['set', 'averagePrice'])

for set,group in sir_sets:
    group = group.dropna(subset=['marketPrice']).sort_values(by='marketPrice')
    rarity_mean = group['marketPrice'].mean()
    row = {'set': set, 'averagePrice': round(rarity_mean, 2)}
    sir_average_prices = pd.concat([sir_average_prices, pd.DataFrame([row])], ignore_index=True)

sir_avg_prices = [group['marketPrice'].dropna().values for _, group in sir_df.groupby('set', sort=False)]

sir_res = sp.stats.f_oneway(*sir_avg_prices)
sir_tukey = sp.stats.tukey_hsd(*sir_avg_prices)

print(sir_res.pvalue)
print(sir_tukey)

C:\Users\leaks\AppData\Local\Temp\ipykernel_27904\2099931476.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  sir_average_prices = pd.concat([sir_average_prices, pd.DataFrame([row])], ignore_index=True)

0.0008935513093533942
Tukey's HSD Pairwise Group Comparisons (95.0% Confidence Interval)
Comparison  Statistic  p-value  Lower CI  Upper CI
 (0 - 1)     -2.927     1.000  -202.617   196.763
 (0 - 2)      1.641     1.000  -250.949   254.231
 (0 - 3)    -61.460     1.000  -302.510   179.589
 (0 - 4)     -7.115     1.000  -206.805   192.575
 (0 - 5)    -72.959     0.998  -304.977   159.059
 (0 - 6)    -30.827     1.000  -249.576   187.922
 (0 - 7)    -52.331     1.000  -266.051   161.389
 (0 - 8)    -14.055     1.000  -281.967   253.857
 (0 - 9)    -18.202     1.000  -270.792   234.387
 (0 - 10)    -81.494     0.986  -295.213   132.226
 (0 - 11)   -186.551     0.029  -363.758    -9.344
 (0 - 12)   -177.559     0.470  -430.149    75.031
 (1 - 0)      2.927     1.000  -196.763   202.617
 (1 - 2)      4.568     1.000  -231.708   240.844
 (1 - 3)    -58.533     1.000  -282.430   165.363
 (1 - 4)     -4.188     1.000  -182.796   174.420
 (1 - 5)    -70.032     0.996  -284.175   144.111
 (1 - 6)    -27.900     1.000  -227.590   171.790
 (1 - 7)    -49.404     1.000  -243.571   144.763
 (1 - 8)    -11.128     1.000  -263.718   241.462
 (1 - 9)    -15.275     1.000  -251.551   221.001
 (1 - 10)    -78.567     0.977  -272.734   115.601
 (1 - 11)   -183.624     0.006  -336.683   -30.565
 (1 - 12)   -174.632     0.387  -410.908    61.644
 (2 - 0)     -1.641     1.000  -254.231   250.949
 (2 - 1)     -4.568     1.000  -240.844   231.708
 (2 - 3)    -63.101     1.000  -335.233   209.030
 (2 - 4)     -8.756     1.000  -245.032   227.520
 (2 - 5)    -74.600     0.999  -338.765   189.565
 (2 - 6)    -32.468     1.000  -285.058   220.122
 (2 - 7)    -53.972     1.000  -302.219   194.275
 (2 - 8)    -15.696     1.000  -311.884   280.492
 (2 - 9)    -19.843     1.000  -302.247   262.561
 (2 - 10)    -83.135     0.996  -331.381   165.112
 (2 - 11)   -188.192     0.165  -405.799    29.415
 (2 - 12)   -179.200     0.634  -461.604   103.204
 (3 - 0)     61.460     1.000  -179.589   302.510
 (3 - 1)     58.533     1.000  -165.363   282.430
 (3 - 2)     63.101     1.000  -209.030   335.233
 (3 - 4)     54.345     1.000  -169.551   278.242
 (3 - 5)    -11.499     1.000  -264.651   241.654
 (3 - 6)     30.633     1.000  -210.416   271.683
 (3 - 7)      9.130     1.000  -227.366   245.625
 (3 - 8)     47.405     1.000  -239.004   333.815
 (3 - 9)     43.258     1.000  -228.873   315.389
 (3 - 10)    -20.033     1.000  -256.528   216.462
 (3 - 11)   -125.090     0.685  -329.189    79.008
 (3 - 12)   -116.099     0.966  -388.230   156.033
 (4 - 0)      7.115     1.000  -192.575   206.805
 (4 - 1)      4.188     1.000  -174.420   182.796
 (4 - 2)      8.756     1.000  -227.520   245.032
 (4 - 3)    -54.345     1.000  -278.242   169.551
 (4 - 5)    -65.844     0.998  -279.987   148.299
 (4 - 6)    -23.712     1.000  -223.402   175.978
 (4 - 7)    -45.216     1.000  -239.383   148.951
 (4 - 8)     -6.940     1.000  -259.530   245.650
 (4 - 9)    -11.087     1.000  -247.363   225.189
 (4 - 10)    -74.379     0.986  -268.546   119.789
 (4 - 11)   -179.436     0.008  -332.495   -26.377
 (4 - 12)   -170.444     0.427  -406.720    65.832
 (5 - 0)     72.959     0.998  -159.059   304.977
 (5 - 1)     70.032     0.996  -144.111   284.175
 (5 - 2)     74.600     0.999  -189.565   338.765
 (5 - 3)     11.499     1.000  -241.654   264.651
 (5 - 4)     65.844     0.998  -148.299   279.987
 (5 - 6)     42.132     1.000  -189.886   274.150
 (5 - 7)     20.628     1.000  -206.655   247.911
 (5 - 8)     58.904     1.000  -219.948   337.756
 (5 - 9)     54.757     1.000  -209.408   318.921
 (5 - 10)     -8.535     1.000  -235.817   218.748
 (5 - 11)   -113.592     0.742  -306.941    79.757
 (5 - 12)   -104.600     0.981  -368.765   159.565
 (6 - 0)     30.827     1.000  -187.922   249.576
 (6 - 1)     27.900     1.000  -171.790   227.590
 (6 - 2)     32.468     1.000  -220.122   285.058
 (6 - 3)    -30.633     1.000  -271.683   210.416
 (6 - 4)     23.712     1.000  -175.978   223.402
 (6 - 5)    -42.132     1.000  -274.150   189.886
 (6 - 7)    -21.504     1.000  -235.224   192.216
 (6 - 8)     16.772     1.000  -251.140   284.684
 (6 - 9)     12.625     1.000  -239.965   265.214
 (6 - 10)    -50.667     1.000  -264.386   163.053
 (6 - 11)   -155.724     0.148  -332.931    21.483
 (6 - 12)   -146.732     0.756  -399.322   105.858
 (7 - 0)     52.331     1.000  -161.389   266.051
 (7 - 1)     49.404     1.000  -144.763   243.571
 (7 - 2)     53.972     1.000  -194.275   302.219
 (7 - 3)     -9.130     1.000  -245.625   227.366
 (7 - 4)     45.216     1.000  -148.951   239.383
 (7 - 5)    -20.628     1.000  -247.911   206.655
 (7 - 6)     21.504     1.000  -192.216   235.224
 (7 - 8)     38.276     1.000  -225.546   302.097
 (7 - 9)     34.128     1.000  -214.118   282.375
 (7 - 10)    -29.163     1.000  -237.732   179.406
 (7 - 11)   -134.220     0.292  -305.180    36.740
 (7 - 12)   -125.228     0.890  -373.475   123.019
 (8 - 0)     14.055     1.000  -253.857   281.967
 (8 - 1)     11.128     1.000  -241.462   263.718
 (8 - 2)     15.696     1.000  -280.492   311.884
 (8 - 3)    -47.405     1.000  -333.815   239.004
 (8 - 4)      6.940     1.000  -245.650   259.530
 (8 - 5)    -58.904     1.000  -337.756   219.948
 (8 - 6)    -16.772     1.000  -284.684   251.140
 (8 - 7)    -38.276     1.000  -302.097   225.546
 (8 - 9)     -4.147     1.000  -300.335   292.040
 (8 - 10)    -67.439     1.000  -331.260   196.383
 (8 - 11)   -172.496     0.400  -407.715    62.723
 (8 - 12)   -163.504     0.813  -459.692   132.684
 (9 - 0)     18.202     1.000  -234.387   270.792
 (9 - 1)     15.275     1.000  -221.001   251.551
 (9 - 2)     19.843     1.000  -262.561   302.247
 (9 - 3)    -43.258     1.000  -315.389   228.873
 (9 - 4)     11.087     1.000  -225.189   247.363
 (9 - 5)    -54.757     1.000  -318.921   209.408
 (9 - 6)    -12.625     1.000  -265.214   239.965
 (9 - 7)    -34.128     1.000  -282.375   214.118
 (9 - 8)      4.147     1.000  -292.040   300.335
 (9 - 10)    -63.291     1.000  -311.538   184.956
 (9 - 11)   -168.349     0.314  -385.955    49.258
 (9 - 12)   -159.357     0.789  -441.761   123.047
 (10 - 0)     81.494     0.986  -132.226   295.213
 (10 - 1)     78.567     0.977  -115.601   272.734
 (10 - 2)     83.135     0.996  -165.112   331.381
 (10 - 3)     20.033     1.000  -216.462   256.528
 (10 - 4)     74.379     0.986  -119.789   268.546
 (10 - 5)      8.535     1.000  -218.748   235.817
 (10 - 6)     50.667     1.000  -163.053   264.386
 (10 - 7)     29.163     1.000  -179.406   237.732
 (10 - 8)     67.439     1.000  -196.383   331.260
 (10 - 9)     63.291     1.000  -184.956   311.538
 (10 - 11)   -105.057     0.681  -276.017    65.903
 (10 - 12)    -96.065     0.984  -344.312   152.181
 (11 - 0)    186.551     0.029     9.344   363.758
 (11 - 1)    183.624     0.006    30.565   336.683
 (11 - 2)    188.192     0.165   -29.415   405.799
 (11 - 3)    125.090     0.685   -79.008   329.189
 (11 - 4)    179.436     0.008    26.377   332.495
 (11 - 5)    113.592     0.742   -79.757   306.941
 (11 - 6)    155.724     0.148   -21.483   332.931
 (11 - 7)    134.220     0.292   -36.740   305.180
 (11 - 8)    172.496     0.400   -62.723   407.715
 (11 - 9)    168.349     0.314   -49.258   385.955
 (11 - 10)    105.057     0.681   -65.903   276.017
 (11 - 12)      8.992     1.000  -208.615   226.599
 (12 - 0)    177.559     0.470   -75.031   430.149
 (12 - 1)    174.632     0.387   -61.644   410.908
 (12 - 2)    179.200     0.634  -103.204   461.604
 (12 - 3)    116.099     0.966  -156.033   388.230
 (12 - 4)    170.444     0.427   -65.832   406.720
 (12 - 5)    104.600     0.981  -159.565   368.765
 (12 - 6)    146.732     0.756  -105.858   399.322
 (12 - 7)    125.228     0.890  -123.019   373.475
 (12 - 8)    163.504     0.813  -132.684   459.692
 (12 - 9)    159.357     0.789  -123.047   441.761
 (12 - 10)     96.065     0.984  -152.181   344.312
 (12 - 11)     -8.992     1.000  -226.599   208.615

### ANOVA Test Results + Tukey Test Results Analysis

The p-value for the ANOVA test done on the average **hyper rare** market price across all sets is **1.2307944715509453e-06**, a number significantly smaller than 0.001 (<0.001). Because this p-value is significantly less than the given significance level of 0.05, we can conclude that there is a significant relationship between the card set and the average price of the hyper rares within the set.

*Analyzing the TUKEY test results, we can see that the hyper rares in SV09: Journey Together differ significantly than the hyper rares in any other set. This is the only observable significant difference within this dataset of hyper rare cards.*

The p-value for the ANOVA test done on the average **illustration rare** market price across all sets is **0.030095002095401828**. Because this p-value is significantly less than the given significance level of 0.05, we can conclude that there is a significant relationship between the card set and the average price of the illustration rares within the set.

*Analyzing the TUKEY test results, we can see that there are no significant differences between the hyper rares of any two sets. This observation suggests that the variation is spread across multiple sets rather than between specific pairs.*

- *note that SV: Prismatic Evolutions contains no illustration rares, therefore is not represented in this ANOVA and TUKEY test analysis*

The p-value for the ANOVA test done on the average **special illustration rare** market price across all sets is **0.0008935513093533942**. Because this p-value is significantly less than the given significance level of 0.05, we can conclude that there is a significant relationship between the card set and the average price of the special illustration rares within the set.

*Analyzing the TUKEY test results, we can see that there is a significant difference between the special illustration rares of SV: Prismatic Evolutions and SV01: Scarlet and Violet Base, SV: Prismatic Evolutions and SV02: Paldea Evolved, and SV: Prismatic Evolutions and SV05: Paradox Rift.*

TEST 2:
We will be conducting a correlation test to determine whether or not the popularity of a set has an linear relation with the average price of a set. Since we are trying to two variables to see if they have a correlation with one another, a correlation test will be appropiate. Signficance Level = .05 (Level of Confidence = 95%).

Null Hypothesis:
There is no correlation between the average price of the set and the popularity of a set.

Alternative Hypothesis:
There is a correlation between the average price of the set and the popularity of the set.

In [25]:
sv01_price = sv01_df[sv01_df['name'] == 'Scarlet & Violet Booster Pack']
sv02_price = sv02_df[sv02_df['name'] == 'Paldea Evolved Booster Pack']
sv03_price = sv03_df[sv03_df['name'] == 'Obsidian Flames Booster Pack']
sv04_price = sv04_df[sv04_df['name'] == 'Paradox Rift Booster Pack']
sv05_price = sv05_df[sv05_df['name'] == 'Temporal Forces Booster Pack']
sv06_price = sv06_df[sv06_df['name'] == 'Twilight Masquerade Booster Pack']
sv07_price = sv07_df[sv07_df['name'] == 'Stellar Crown Booster Pack']
sv08_price = sv08_df[sv08_df['name'] == 'Surging Sparks Booster Pack']
sv09_price = sv09_df[sv09_df['name'] == 'Journey Together Booster Pack']
sv_151_price = sv_151_df[sv_151_df['name'] == '151 Booster Pack']
sv_pf_price = sv_pf_df[sv_pf_df['name'] == 'Paldean Fates Booster Pack']
sv_sf_price = sv_sf_df[sv_sf_df['name'] == 'Shrouded Fable Booster Pack']
sv_pe_price = sv_pe_df[sv_pe_df['name'] == 'Prismatic Evolutions Booster Pack']

prices = pd.concat([sv01_price, sv02_price, sv03_price, sv04_price, sv05_price, sv06_price, sv07_price, sv08_price, sv09_price, sv_151_price, sv_pf_price, sv_sf_price, sv_pe_price])

prices = prices[['marketPrice', 'groupId']]
prices['set'] = prices['groupId'].apply(get_textset)

def popularity_def(price):
    if price >= 10:
        return 1
    elif price >= 7:
        return 2
    elif price >= 6:
        return 3
    elif price >= 5:
        return 4
    else:
        return 5

prices['popularity'] = prices['marketPrice'].apply(popularity_def)
prices = prices.sort_values(by='set')

average_price = master_df.groupby('set', sort = 'name')['marketPrice'].mean()

sp.stats.pearsonr(average_price, prices['popularity'])

PearsonRResult(statistic=np.float64(-0.6902804971814794), pvalue=np.float64(0.009011909812729986))